# Ignore Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
.venv/
venv/
ENV/

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore test output
.pytest_cache/
.coverage
htmlcov/

# Ignore sensitive information
local.settings.json
.env

#Ignore the datasets
data/

#Ignore metrics report for t1
baseline_metrics_report.json